<head>
</head>
<body>
<header>
</header>
  <main>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">
        <%= render 'users/sideber', user: current_user %>
          
          <table class="table">
            <tbody>
              <% @books.each do |book| %>
                <tr>
                  <td><strong>Title:</strong>
                    <%= book.title %>
                  </td>
                </tr>
                <tr>
                  <td><strong>Opinion:</strong>
                    <%= book.body %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
         

    </div>
  </main>
</body>