
  <main>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>
    <div class="container px-5 px-sm-0">
      <div class="row">
    <div class="col-md-3">
            <%= render 'users/sideber', user: current_user %>
          </div>  

           <%= render 'books/book', books: @books %>
            
      </div>                
    </div>
  </main>
